// Navigation code here
.nav-container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    .flex();
    flex-flow: column nowrap;
    align-items: center;
    // border: 1px dashed red;
    padding: 1rem;
    color: @nav-font;
    background-color: @nav-bg;

    h1 {
        font-size: 4rem;
        margin: 1rem 0;
    }
    nav {
        .flex();
        a {
            text-decoration: none;
            color: @nav-font;
            font-size: 2rem;
            margin: 0 1.25rem;
            
        }
    }
}